// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.t_title {
	width: 300px;
	text-align: left;
}

.t_detail {
	width: 200px;
	text-align: left;
}

.t_edit {
	text-align: right;
}

.t_back {
	text-align: left;
}
